body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif
}

a {
  text-decoration: none!important;
}

.social_media i {
  margin: 0 40px;
}

.social_media i:hover {
  cursor: pointer;
}

form span {
  font-size: 16px;
}

form .line {
  line-height: 30px;
}

.w3-tag.w3-grey.w3-small.w3-margin-bottom:hover {
  cursor: pointer;
  background-color: black!important;
  color: white!important;
}

.introduce {
  font-size: 18px;
}

footer .intro {
  font-size: 20px;
}

footer .intro a:hover {
  color: #55fb00;
}

footer .intro a {
  color: #92ea65;
}

.w3-little-gray {
  background-color: lightgray;
}
